* {
	margin: 0;
}

body {
	font-family: "Computer Modern Serif";
	font-size: 18px;
	background: #fff;
	letter-spacing: -0.25px;
	color: #222;
	margin: 3em;
}

img {
	width: 50%;
	max-width: 10em;
	float: right;
	text-align: center;
	margin-left: 2em;
	margin-bottom: 2em;
	border-radius: 100%;
}


li.item {
	margin-bottom: 1em;
}

li.item:last-child {
	margin-bottom: 0em;
}

.container {
	max-width: 720px;
	margin: 0 auto;
}

header {
	margin-top: 2em;
	line-height: 2.25em;
}

section {
	margin: 2em 0;
	line-height: 1.5em;
}

footer {
	margin-bottom: 2em;
}

h1 {
	font-weight: bold;
}

h2 {
	font-weight: bold;
}

h3 {
	font-weight: bold;
	margin-bottom: 0.5em;
	text-decoration: underline;
	font-variant: small-caps;
}



a {
	color: #002eee;
	transition: opacity 0.2s;
}

a:hover {
	opacity: 0.8;
}

strong {
	font-variant: small-caps;
}

@media only screen and (max-width: 500px) {
    body {
        font-size: 16px;
    }
    img {
	    margin-bottom: 1em;
    }
}